@keyframes video-frame {
    0%{
        transform: rotate(0deg);
    }
}

@keyframes video-container{
    0%{
        clip-path: circle(0% at 50%);
    }
}

.video-container{
    width: 990px;
    animation: video-container 1s ease;
    justify-self: end;
    position: relative;
    transition: all 0.5s ease;
    clip-path: circle(100% at 50%);
}

.video-container-grow{
    transition: all 0.5s ease;
    justify-self: center;
    width: 100%;
}



.video-frame{
    box-sizing: border-box;
    border: solid 10px #DDA108;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 990px;
    height: 556px;
    position: absolute;
    transform: rotate(-4deg);
    animation: video-frame 1s ease;
    transition: all 1s ease;
}

.btn-fechar-video{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.50);
    border: none;
    filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.80)); 
    font-weight: 800;
    transition: all 0.5s ease;
}

.btn-fechar-video:hover{
    border: none;
    color: var(--primary-color);
    filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.25)); 
    background: none;
    transform: scale(120%);
    transition: all 0.5s ease;
}

.btn-play{
    width: 80px;
    height: 80px;
    position:
    top: 50px;
}

.frame-certo{
    transform: rotate(0deg);
    border-width: 0px;
    transition: all 1s ease
}

.video-container video{
    border-radius: 15px;
    width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.btn-contato{
    width: 300px;
    border-radius: 15px;
    background-color: coral;
    height: 0px;
    overflow: hidden;
    transition: all 1s ease;
}

.visivel{
    height: 60px;
    transition: all 1s ease;

}

.gray-scale{
    filter: grayscale();
}